.App {
    text-align: center;
  }
  
  .Header-logo {
    height: 10vmin;
    padding-left: 4vmin;
    padding-bottom: 4vmin;
    padding-top: 4vmin;
  }
  
  .App-header {
    background-color: #FFF;
    text-align: left;
    color: black;
  }
  
  .Header {
    align-items: left;
  }
    
  .Footer {
    background-color: aquamarine;
  }
  
  .App-footer {
    background-color: dimgray;
    text-align: center;
    color: white;
  }
  
  .Footer-logo {
    height: 8vmin;
    padding-bottom: 4vmin;
    padding-top: 4vmin;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .ItemArea {
    font-size: 2rem;
    background-color: crimson;
    padding-bottom: 5%;
  }
  
  .ItemPIC {
    height: 40vh;
    text-align: center;
    background-color: dimgray;
  }

  .TheItemPIC {
    height: 40vh;
  }
  
  .Item_name {
    background-color: #FFF;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .Item_price {
    background-color: #FFF;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .Item_rating {
    background-color: #FFF;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .Item_description {
    background-color: #FFF;
    margin-left: 10%;
    margin-right: 10%;
  }
  