/* FOOTER */


.Footer {
    background-color: aquamarine;
    padding-bottom: 0;
    background-color: dimgray;
  }
  
  .App-footer {
    text-align: center;
    color: white;
  }
  
  .Footer-logo {
    height: 10vmin;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  
  .App-link {
    color: #61dafb;
  }