
/* CARDS (GENRE) SECTION */


.cards-content {
    margin: auto;
    padding: 20px;
}

.header-block {
  text-align: center;
  margin-bottom: 1rem;
}

/* Copy SNippets */

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 30px auto;
    width: 250px;
    height: 300px;
    border-radius: 20px;
    box-shadow: var(--dark-shadow);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 10px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 20px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    /* font-family: sans-serif; */
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
    text-shadow: -3px -1px rgb(48, 47, 47);
  }
  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: row;
    }

    .card {
      width: 40vw;
      height: 90px;
    }

    .card_title {
      display: none;
    }
    
  }