/* Header: NAVBAR */
.logo {
  margin-top: 10px;
    padding-left: 1rem;
    width: 7rem;
    cursor: pointer;
  }
  
  .nav {
    box-shadow: var(--dark-shadow);
    padding: 4px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .nav ul {
    display: flex;
    /* padding: 10px; */
  }
  
  .nav li {
    padding-right: 10px;
  }
  
  @media all and (max-width: 500px) {
  .nav li {
    font-size: 0.6rem;
  }
  }
  
  /* NAVBAR ENDS HERE */